---
import PostExcerpt from "@igor.dvlpr/astro-post-excerpt";
import { PropRenderer } from "@igor.dvlpr/astro-post-excerpt";

import BaseLayout from "../layouts/BaseLayout.astro";
import Book from "../components/Book.astro";
const allPosts = await Astro.glob("../pages/books/**/*.md");
allPosts.sort(
	(a, b) =>
		Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate),
);

const pageTitle = "bookshelf";
---

<BaseLayout pageTitle={pageTitle}>
	{
		allPosts.map((post) => (
			<Book
				book={post}
				link={post.url}
				singleView
			>
				<p>
					<PostExcerpt
						post={post}
						words={99999}
						renderer={PropRenderer.Html}
						addEllipsis={false}
					/>
				</p>
			</Book>
		))
	}
</BaseLayout>
