---
import ContentBlock from "./ContentBlock.astro";

const { book, link, singleView } = Astro.props;
const { title, author, started, finished, cover } = book.frontmatter;

let bookHeading = "";
if (title) {
    bookHeading += title;
}
if (title && author) {
    bookHeading += ", by ";
}
if (author) {
    bookHeading += author;
}

let logBook = "";
if (started) {
    logBook += new Date(started).toDateString();
}
if (started && finished) {
    logBook += " thru ";
}
if (finished) {
    logBook += new Date(finished).toDateString();
}
---

{
    !singleView && (
        <ContentBlock classNames="book-block" fullWidth link={link}>
            <div class="cover">
                <img src={cover} alt="book cover" />
            </div>
            <div class="info">
                <h3>{bookHeading}</h3>
                <div class="logbook">
                    <strong>read: </strong>
                    {logBook}
                </div>
                <div class="comment">
                    <slot />
                </div>
            </div>
        </ContentBlock>
    )
}
{
    singleView && (
        <ContentBlock classNames="book-single" title={bookHeading} hidePadding>
            <img src={cover} alt="book cover" class="book-cover-single"/>
        </ContentBlock>
    )
}

<style>
    .book-cover-single {
        width: 100%;
    }
</style>